<br/>
<section id="footer">
<div class="container-footer">
  <div class="panel-footer">
	  <div class="row">
		<div class="col-sm">
		    <h5>Affiliations</h5>
			{% assign affs = site.data.pi | map: "affiliation" | sort %}
			<ul>
			{% for aff in affs %}
				<li>{{ aff }}</li>
			{% endfor %}
			</ul>
		</div>
		<div class="col-sm">

		</div>
		<div class="col-sm">
		    <h5>Contact</h5>
			<a href="mailto:{{- site.data.pi | map: 'email' | join: ',' -}}" target="_blank"><i class="fa fa-envelope fa-1x"></i> Contact us!</a> <br/>
			<a href="https://github.com/sbryngelson/academic-website-template"><i class="fa fa-github fa-1x"></i> Use this site as a template!</a>
		</div>
	  </div>

      <center><p>&copy {{ "now" | date: "%Y" }} {{site.title | escape }} </p></center>
	</div>
  </div>
</div>

<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
